.content {
    display: flex;
    color: #444;
    width: 1200px;
    margin: 0 auto 0 auto;
    padding: 10px;
}

.main {
    display: flex;
    gap: 50px;
    margin-top: 30px;
    width: 100%;
}

.main-form {
    width: 60%;
}
.test {
    width: 40%;
}

.slogan {
    padding: auto;
}

.slogan-text {
    font-size: 32px;
    text-align: center;
    font-weight: 800;
}

.main-table-wrapper {
    width: 60%;
    height: auto;
}

.main-table-item {
}

.form {
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 10px;
    margin-top: 20px;
}

.row {
    display: flex;
    height: 50px;
}

.margin-left {
    margin-left: 50px;
}

.input1 {
    width: 50%;
}

.input2 {
    width: 100%;
}

.input3 {
    width: 60%;
}

.input4 {
    width: 70%;
}

.input5 {
    width: 30%;
}

textarea {
    border-radius: 10px;
    border: 3px solid #3B1788;
    font-size: 24px;
    padding-left: 15px;
    margin-bottom: 25px;
    height: 100px;
    resize: none;
}

.textarea {
    height: 100px;
    margin-bottom: 20px;
}

.date {
    padding-top: 6px;
}

.upload {
    background-color: #1000ff;
    border: none;
    text-align: center;
    color: white;
    cursor: pointer;
    padding-left: 0px !important;
}

.update {
    background-color: #fcbb23;
    border: none;
    cursor: pointer;
}

.buttons {
    gap: 5px;
}

input {
    border-radius: 10px;
    border: 3px solid #3B1788;
    font-size: 24px;
    padding-left: 15px;
}

.fileupload-wrapper {
    border-radius: 10px;
    border: 3px solid #3B1788;
    font-size: 24px;
    padding-top: 13px;
    padding-left: 15px;
    
    cursor: pointer;
}

.bottom {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image-wrapper {
    display: flex;
    justify-content: center;
}

.readonly {
    background-color: #e7e1e1 !important;
    color: black !important;
}

.readonly::placeholder {
    background-color: #e7e1e1 !important;
    color: black !important;
}

